<template>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <router-link
                    class="nav-item nav-link"
                    active-class="active"
                    tag="a"
                    :to="'/'"
                    exact
                >
                    Home
                </router-link>
                <router-link
                    class="nav-item nav-link"
                    active-class="active"
                    tag="a"
                    :to="'/about'"
                >
                    About
                </router-link>
                <router-link
                    class="nav-item nav-link"
                    active-class="active"
                    tag="a"
                    :to="'/cars'"
                >
                    Cars
                </router-link>
                <router-link
                    class="nav-item nav-link"
                    active-class="active"
                    tag="a"
                    :to="'/contacts'"
                >
                    Contacts
                </router-link>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "Menu"
    }
</script>

<style lang="scss" scoped>

</style>