<template>
    <div class="car">
        <h1>Car id {{ id }}</h1>
        <p>
            <router-link tag="a" :to="'/cars'">&ltcc; Back</router-link>
        </p>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                //id: this.$router.currentRoute.params['id'],
                id: this.$route.params['id'],
            }
        },
        watch: {
            $route(toR, fromR) {
                this.id = toR.params['id']
            }
        },
    }

</script>

<style lang="scss" scoped>

</style>