<template>
    <div class="app">
        <div class="container">
            <router-menu></router-menu>

            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import Menu from './routes/Menu';

    export default {
        data() {
            return {

            }
        },
        components: {
            routerMenu: Menu,
        },
    }

</script>

<style lang="scss" scoped>

</style>

